@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div id="control-panel">
        <button class="btn btn-primary" onclick="AcquireImage()">Scan</button>
        <br />
        <button class="btn btn-outline-secondary" onclick="Upload()">Upload</button>
        <input type="radio" value="jpg" name="format"/>JPG
        <input type="radio" value="pdf" name="format"/>PDF
        <input type="radio" value="tif" name="format"/>TIFF
        <label for="filename-input">File Name: </label>
        <input type="text" id="filename-input"/>
    </div>
    <div id="dwt-container"></div>
</div>

<!-- DWT script here -->
<script src="~/lib/dwt/dynamsoft.webtwain.initiate.js"></script>
<script src="~/lib/dwt/dynamsoft.webtwain.config.js"></script>
<script>
    var DWObj;
    var viewerWidth = 960, viewerHeight = 960;
    var containerName = 'dwt-container';
    Dynamsoft.DWT.ResourcesPath = 'lib/dwt';
    Dynamsoft.DWT.ProductKey = "DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ=="; // https://www.dynamsoft.com/customer/license/trialLicense?product=dwt
    function initDWT() {
            Dynamsoft.DWT.UseLocalService = true;
            Dynamsoft.DWT.AutoLoad = true;
            Dynamsoft.DWT.Containers = [{ ContainerId: containerName, Width: viewerWidth, Height: viewerHeight }];
            Dynamsoft.DWT.RegisterEvent('OnWebTwainReady', function () {
                DWObj = Dynamsoft.DWT.GetWebTwain(containerName);
                if (DWObj) {
                    DWObj.Width = viewerWidth;
                    DWObj.Height = viewerHeight;
                    DWObj.MouseShape = true;
                    @* addThumbnailViewer(); *@
                }
            });
        }
    initDWT(); 
    function AcquireImage() {
        if (DWObj) {
            if (DWObj.UseLocalService) {
                DWObj.SelectSourceAsync().then(function () {
                    return DWObj.AcquireImageAsync({
                        IfCloseSourceAfterAcquire: true 
                    });
                }).catch(function (exp) {
                    alert(exp.message);
                });
            } else {
                DWObj.LoadImageEx('', -1)
            }
        }
    }
    function Upload() {
        const host = location.hostname
        const protocol = location.protocol
        const uploadPath = '/api/File'
        let uploadFileName = document.getElementById('filename-input').value
        const port = location.port || (protocol === 'https:' ? 443 : 80)

        var formatSelector = document.getElementsByName('format')
        let format = (selector => {
            let select = ''
            selector.forEach(e => {
                if (e.checked) {
                    select = e.value
                }
            })
            uploadFileName = uploadFileName + '.' + select
            switch (select) {
                case 'jpg': { return Dynamsoft.DWT.EnumDWT_ImageType.IT_JPG }
                case 'pdf': { return Dynamsoft.DWT.EnumDWT_ImageType.IT_PDF }
                case 'tif': { return Dynamsoft.DWT.EnumDWT_ImageType.IT_TIF }
            }
        })(formatSelector)

        let uploadFormat = Dynamsoft.DWT.EnumDWT_UploadDataFormat.Binary

        if (DWObj) {
            DWObj.HTTPPort = port
            DWObj.IfSSL = true
            let indices = DWObj.SelectedImagesIndices
            DWObj.HTTPUpload(
                protocol + '//' + host + ':' + port + uploadPath,
                indices,
                format,
                uploadFormat,
                uploadFileName,
                () => { alert('success') },
                (errCode, errStr, res) => {
                    console.error(`${errCode}: ${errStr}. Server return: ${ res }`)
                }
            )
        }
    }
</script>