@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@if (initialized == false)
{
    <p>Initializing SDK...</p>
}
else
{
    <div class="center-screen">
        <button class="btn" @onclick="StartScanner">Scan Documents to PDF</button>
    </div>
}

@code {
    Boolean initialized = false;

    protected override void OnInitialized()
    {
        Init();
    }

    public async void Init()
    {
        initialized = await JSRuntime.InvokeAsync<Boolean>("initSDK", "DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ==");
        StateHasChanged();
    }

    public void StartScanner()
    {
        NavigationManager.NavigateTo("scantopdf");
    }
}